<div class="row">

	<div class="col-6">
		<app-donut-graf title="'Ventas'" [labels]="labels1" [data]="data1" />
	</div>
	<div class="col-6">
		<app-donut-graf title="Compras" [labels]="labels2" [data]="data2" />
	</div>

</div>

<div class="row">

	<div class="col-6">
		<app-donut-graf [title]="'Cambios'" [labels]="labels3" [data]="data3" />
	</div>

	<div class="col-6">
		<app-donut-graf [title]="'Compras 2'" [labels]="labels4" [data]="data4" />
	</div>

</div>

<div class="row">
	<div class="col-12">
		<app-donut-graf />
	</div>
</div>